name: Lean

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: leanprover/lean-action@v1
        with:
          use-mathlib-cache: false

      - name: Generate Lake manifest
        run: lake update

      - name: Get Mathlib cache
        run: lake exe cache get

      - name: Build
        run: lake build
